{% extends "movies_app/header.html" %}

{% block content %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163733136-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-163733136-1');
</script>

<script>

   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)
   [0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-163733136-1', 'none') ;

   ga('send', 'pageview');

 </script>

<input type= "button" value ="Click Me" onclick="ga('send', 'event', { eventCategory: 'Book button', eventAction: 'Click', eventLabel: 'enquiry home page'});"/>

<h1>hello world</h1>

<div class="row">
  {%for am in all_movies%}
  <div class="col s6 m5">
    <div class="card">
      <div class="card-image">
        {% for image in am.images.all %}
          <img src="{{ image.image_u }} " width="150" height="200">
        {% endfor %}
      </div>
      <div class="card-content">
      <span class="card-title"><b>{{am.film_title}}</b></span>
      <p>Year Released: {{am.year}}</p>
      <p>Genre: {{am.genre}}</p>
      </div>
      <div class="card-action">
      <a href=" {% url 'film_detail' am.id %} " style="color:teal">More</a>
      <br></br>
      {% if user.is_staff %}
      <a href= "{% url 'film_update' am.id %}"<i class=" material-icons small cyan-text">edit</i></a>
      <a href= "{% url 'film_delete' am.id %}"<i class=" material-icons small cyan-text">delete</i></a>
      {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}

</div>





{% endblock %}
